[submodule "cybership_external/mocap4ros2_qualisys"]
	path = cybership_external/mocap4ros2_qualisys
	url = https://github.com/incebellipipo/mocap4ros2_qualisys
[submodule "cybership_external/dynamixel_azimuth_driver"]
	path = cybership_external/dynamixel_azimuth_driver
	url = https://github.com/incebellipipo/dynamixel_azimuth_driver.git
[submodule "cybership_external/mocap4r2_msgs"]
	path = cybership_external/mocap4r2_msgs
	url = https://github.com/MOCAP4ROS2-Project/mocap4r2_msgs.git
[submodule "cybership_external/bno055"]
	path = cybership_external/bno055
	url = https://github.com/flynneva/bno055.git
[submodule "cybership_external/ros2_pca9685"]
	path = cybership_external/ros2_pca9685
	url = https://github.com/incebellipipo/ros2_pca9685
