<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cybership_voyager">

    <link name="base_link">
        <visual>
            <origin
                xyz="0.0 0.0 0.0"
                rpy="0.0 0.0 3.141592653589793"
            />
            <geometry>
                <mesh
                    filename="package://cybership_description/meshes/voyager/model.stl"
                    scale="1.0 1.0 1.0"
                />

            </geometry>
        </visual>
    </link>

    <link name="base_link_ned"/>
    <joint name="base_link_to_ned" type="fixed">
        <child link="base_link"/>
        <parent link="base_link_ned"/>
        <origin xyz="0 0 0" rpy="-3.1415926 0 0.0"/>
    </joint>

    <link name="mocap_link"></link>
    <joint name="mocap_link_joint" type="fixed">
        <parent link="base_link_ned" />
        <child link="mocap_link" />
        <!-- <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0" /> -->
        <origin xyz="0.0 0.0 0.3" rpy="0.0 3.14159265358979 1.5707963267948966" />
    </joint>

    <link name="imu_link"></link>
    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="-0.1 0 0.1" rpy="3.14159265358979 0.0 0.0" />
    </joint>

    <link name="stern_port_thruster_link" />
    <joint name="base_stern_port_thruster_joint" type="fixed">
        <parent link="base_link" />
        <child link="stern_port_thruster_link" />
        <origin xyz="-0.4574 0.055 -0.1" rpy="3.14159265358979 0 0.0" />
    </joint>

    <link name="stern_starboard_thruster_link" />
    <joint name="stern_starboard_thruster_joint" type="fixed">
        <parent link="base_link" />
        <child link="stern_starboard_thruster_link" />
        <origin xyz="-0.4574 -0.055 -0.1" rpy="3.14159265358979 0 0" />
    </joint>

    <link name="bow_tunnel_thruster_link" />
    <joint name="bow_tunnel_thruster_joint" type="fixed">
        <parent link="base_link" />
        <child link="bow_tunnel_thruster_link" />
        <origin xyz="0.3875 0 -0.05" rpy="3.14159265358979 0 -1.5707963267948966" />
    </joint>
</robot>