name: Docker Hub

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: "0 0 * * 0"

jobs:
  docker:
    strategy:
      fail-fast: false
      matrix:
        configurations:
          - ros_distro: 'humble'
          - ros_distro: 'kilted'
          - ros_distro: 'jazzy'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfile
          build-args: |
            ROS_DISTRO=${{ matrix.configurations.ros_distro }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: incebellipipo/cybership:${{ matrix.configurations.ros_distro }}
